
html { background: #FFF url('../images/bg.png') repeat-x scroll top left; }
body { font-family:Tahoma; font-size:12px; color:#2C2C29; background: #FFF url'/images/bg.png') repeat-x scroll top left; }

div#box{ margin:0px auto; background-color:#FFF; float:none; padding-top:10px; min-height:350px;}

div#header {margin:0 auto;float:none;padding-top:10px;height:54px;vertical-align:text-bottom;}
#header h1 { color: #FFF; font: 26px 'TitilliumText22LBold', sans-serif; margin: 10px 10px; float:left;  }
#header img#logo{ float:left; }

div#footer {margin:5px auto;background-color:#DEDEDE;float:none;-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;padding:10px;}
#footer strong { font-weight: bold; }
#footer strong.version { font-weight: bold; float:right; }

div#menu { margin-top: 28px; float:right; border-bottom: 0px solid #3F4959; background-color:#2D476B; }
div#menu ul {}
div#menu ul li { float:left; padding: 5px 10px; }
div#menu a { color: #FFF; text-decoration: none; }
div#menu a:hover { color: #FFF;}

h1 { font-size: 24px; font-weight: bold; margin: 8px 0 10px 0; color: #E3AF19; font-family: 'TitilliumText22LBold', sans-serif; }
a { color: #3F4959; text-decoration: none;  }

.hidden { display: none;}

.modal{display:none; width:400px; border:10px solid #666; border:10px solid rgba(82,82,82,0.698); -moz-border-radius:10px; -webkit-border-radius:10px;}
.modal .btn_close{float:right;margin:-80px -25px 0 0;}
.warningbox { background-color: #FFF; background-repeat: no-repeat; background-position: 10px center; font-size: 12px;	font-weight: bold; padding:25px 10px 25px 70px;}

.loading{width:125px;background-color:#FFF;padding:25px;}
.loading img { margin:0 auto; }

.success { background-image:url(../images/ok-48.png);	 }
.error_modal { background-image:url(../images/error-48.png); }

.error_msg strong { font-weight: bold; }

.about {}
.about p { padding:10px 0;}
.about ul {  }
.about ul li { padding:3px 0; }
.about strong {font-weight: bold;}

.form_div { background-color:#FFF; padding: 10px; }
.token_div { background-color:#FFF; padding: 10px; width: 650px; }
.token_div p { font-size: 11px; padding:10px 0; }
.token_div h2 { font-weight: bold; }

.user_list ul {}
.user_list ul li { margin: 10px 10px; float:left; width:460px; height: 80px;}
.user_list .wrapper { width:460px; height: 80px; }
.user_list .id { font-weight: bold; }
.user_list .holder { height: 40px; vertical-align: middle; margin:auto; padding: 15px 200px;}
.user_list .name { font-weight: bold; }
.user_list .minor { font-size: 10px; color: #BBB; }
.user_list .minor strong{ font-weight: bold; }
.user_list .cmds {float:right;}
.user_list .cmds a{padding: 0 5px;}
.user_list .perms {}

.xdebug-var-dump{ background-color: #FFF; padding: 10px; }

.centered { margin: 0px auto; float:left; }
.warning { width: 50%; padding:10px; margin-top: 10px; margin-bottom: 10px; }
.warning img {  padding-right: 10px; vertical-align: middle; }
.warning p { height: 48px; font-size: 14px; vertical-align: middle;}

.warning.message { background-color: #A9DDA0; color: #028300; font-weight: bold; }
.warning.error { background-color: #E37B68; color: #990511; font-weight: bold; }

#friend-list { margin: 0;	padding: 0;	line-height: 1.45em;}
#friend-list li {	padding: 0px;	margin-left: 25px; list-style-image: url("../images/user.png"); }
#friend-list li.loading {	list-style-image: url(); }

.tooltip{display:none;background:transparent url(../images/tooltip/black_arrow.png);font-size:12px;height:70px;width:160px;padding:25px;color:#fff;}

#tokenerr { margin: 0;	padding: 0;	line-height: 1.8em; }
#tokenerr li { padding: 0px;	margin-left: 25px; list-style-type: circle; }
#tokenerr li strong { font-weight: bold; }