
html { background-color: #2C2C29; }

body { font-family:Tahoma; font-size:12px; color:#2C2C29; }

div#box { 
	margin: 5px auto; 
	background-color: #FFF; 
	float: none; 
	-moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px;
	padding: 10px;
	z-index:-10;
}

div#footer {
	margin: 5px auto; 
	background-color: #FFF; 
	float: none; 
	-moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px;
	padding: 10px;
	z-index:-10;
}

div#menu { margin: 5px auto; border-bottom: 2px solid #3F4959; background-color:#3F4959; -moz-border-radius-topleft: 10px; -webkit-border-radius-top-left: 10px; border-top-left-radius: 10px;-moz-border-radius-topright: 10px; -webkit-border-radius-top-right: 10px; border-top-right-radius: 10px}
div#menu ul {}
div#menu ul li { float:left; padding: 5px 10px; }
div#menu a { color: #CBDEFE; text-decoration: none; }
div#menu a:hover { color: #FFF;}


h1 { font-size: 24px; font-weight: bold; margin: 8px 0 10px 0; }


.about {}
.about p { padding:10px 0;}
.about ul {  }
.about ul li { padding:3px 0; }
.about strong {font-weight: bold;}


.user_list ul {}
.user_list ul li { margin: 10px 10px; float:left; width:48%;}
.user_list .name { font-weight: bold; }
.user_list .minor { font-size: 10px; color: #BBB; }
.user_list .minor strong{ font-weight: bold; }
.user_list .cmds {float:right;}
.user_list .cmds a{padding: 0 5px;}

.user_list .perm_list {}
.user_list .perm_list li { margin: 0; padding: 0 5px; float:left; width: 15%;}


.xdebug-var-dump{ background-color: #FFF; padding: 10px; }