
html { background-color: #2C2C29; }

body { font-family:Tahoma; font-size:12px; color:#2C2C29; }

div#box { 
	margin: 5px auto; 
	background-color: #FFF; 
	float: none; 
	-moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px;
	padding: 10px;
	z-index:-10;
}

div#menu { margin: 5px auto; border-bottom: 2px solid #3F4959; background-color:#3F4959; -moz-border-radius-topleft: 10px; -webkit-border-radius-top-left: 10px; border-top-left-radius: 10px;-moz-border-radius-topright: 10px; -webkit-border-radius-top-right: 10px; border-top-right-radius: 10px}
div#menu ul {}
div#menu ul li { float:left; padding: 5px 10px; }
div#menu a { color: #CBDEFE; text-decoration: none; }
div#menu a:hover { color: #FFF;}


h1 { font-size: 24px; font-weight: bold; margin: 8px 0 10px 0; }


.about {}
.about p { padding:10px 0;}
.about ul {  }
.about ul li { padding:3px 0; }
.about strong {font-weight: bold;}