<div class="about">
	<h1 id="about">About the App</h1>

	<p>This app was born out of a personal need to find a easier way to create new test users for facebook application testing. All related operations are only available through the API and facebook itself does not have a GUI interface were this can be executed, hence the need for this.</p>

	<p>Since I always defend you need to have pet projects you can work on and experience with new technologies, I decided to make this into an open source pet project and experiment with a few frameworks and tools I had not yet tried. The idea was to build a very simple site and that took the big frameworks off the table, I wanted to go for a simplistic structure with a very small MVC implementation and try some new view techniques.</p>

	<p>Thus I selected a few simple tools to work with:</p>

	<ul>
		<li><strong>Mustache.php</strong> - A PHP implementation of the Ruby Mustache view framework (<a href="https://github.com/bobthecow/mustache.php">by bobthecow on github</a>)</li>
		<li><strong>Inspekt</strong> - A Input validation library, simple and straight forward (<a href="http://funkatron.github.com/inspekt/">by Funkatron on github</a>)</li>
		<li><strong>Zend Framework</strong> - I pulled in a few elements like the autoloader and registry, simple and reusable (<a href="http://framework.zend.com">By Zend</a>)</li>
	</ul>
	
	<h1 id="about_the_author">About the Author</h1>
	
	<p><strong>Rafael Dohms</strong> is a PHP Evangelist in Brazil and a very active member of the PHP Community. He helped found two PHP User Groups over the years and currently shares the lead of PHPSP. Developer, gamer and lover of code he also hosts Brazil’s first PHP Podcast: PHPSPCast.</p> 

	<p>Currently he works for MIH SWAT Team, a group of experts that provides technical knowledge to the MIH group as well as working on R&D in search of the new and exciting niches of the web. His role as a Senior PHP Developer is to code, train and aid other companies and to have fun doing so.</p>
</div>