<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
	<head>
		<title>Facebook TestUser Manager</title>
		<link rel="stylesheet" href="css/reset.css" type="text/css">
		<link rel="stylesheet" href="css/base.css" type="text/css">
		<link rel="stylesheet" href="css/site.css" type="text/css">
	</head>
	<body>
		<div id="box" class="s12">
			<div class="group">
				<div id="menu" class="s12">
					<ul>
						<li><a href="list">List Users</a></li>
						<li><a href="add">Add New User</a></li>
						<li><a href="about">About</a></li>
					</ul>
				</div>
				<div id="content" class="s12">
					{{{content}}}
				</div>
			</div>
		</div>
	</body>
</html>
