<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
	<head>
		<title>Facebook TestUser Manager</title>
		<link rel="stylesheet" href="/css/site.css" type="text/css">
	</head>
	<body>
		{{{content}}}
	</body>
</html>
