<!DOCTYPE HTML>
<html>
	<head>
		{% block head %}
		<title>Facebook TestUser Manager</title>
		
		<base href="{{ constant('BASE_URL') }}" target="">
		
		<link rel="stylesheet" href="css/fonts.css" type="text/css">
		<link rel="stylesheet" href="css/reset.css" type="text/css">
		<link rel="stylesheet" href="css/base.css" type="text/css">
		<link rel="stylesheet" href="css/form.css" type="text/css">
		<link rel="stylesheet" href="css/site.css" type="text/css">
		
		<script src="js/jquery-1.4.4.js" type="text/javascript"></script>
		<script src="js/cmds.js" type="text/javascript"></script>
		<script src="js/jquery.tools.min.js" type="text/javascript"></script>
		<script src="js/jquery.tmpl.min.js" type="text/javascript" charset="utf-8"></script>
		
		{% endblock %}
	</head>
	<body>
		<div id="header" class="s12">
			
			<div class="s7 gutter">
				<a href="list"><img id="logo" src="images/logo-48.png" alt="Facebook Test User Manager"></a>
				<a href="list"><h1 id="facebook_test_user_manager">Test User Manager for Facebook</h1></a>
			</div>
			<div class="s3">
				
			</div>
			<div id="menu" class="s5">
				<ul>
					<li><a href="list">List Users</a></li>
					<li><a href="new">Add New User</a></li>
					<li><a href="set-session">Set/Unset Session Vars</a></li>
					<li><a href="about">About</a></li>
				</ul>
			</div>
		</div>
		<div id="box" class="s12">
			<div class="group">

				<div id="content" class="s12">
					{% block content %}{% endblock %}
				</div>
			</div>
		</div>
		<div id="footer" class="s12">
	    {% block footer %}
	      &copy; Copyright 2011 by <a href="http://doh.ms/">Rafael Dohms - DMS Systems</a> <strong class="version">v{{ constant('APP_VERSION') }}</strong>
	    {% endblock %}
	  </div>
	<div id="loading" class="loading modal">
		<img src="images/loading.gif" alt="Loading...">
	</div>
	<div id="success" class="success modal warningbox">
		<p class="message"></p>
	</div>
	<div id="error_modal" class="error_modal modal warningbox">
		<p class="message"></p>
	</div>
	</body>
</html>
