<h1 id="user_list">Existing Test Users</h1>

<div class="user_list">
	<ul>
		{{#users}}
		<li>
		<p class="cmds"><a href="{{login_url}}">Login</a> | <a href="#">Del</a> | <a href="#">Edit</a></p>
		<p class='name'>{{name}}</p>
		<p class="minor"><strong>ID:</strong> {{id}}</p>
		<p class="minor"><strong>Access Token:</strong> {{access_token}}</p>
		<p>Application is <strong>not</strong> installed</p>
		<ul class="perm_list">
			{{#perms}}
			<li>{{name}}</li>
			{{/perms}}
		</ul>
		</li>
		{{/users}}
	</ul>
</div>