{% extends "layout.html" %}

{% block content %}
<h1 id="user_list">Existing Test Users</h1>

<div class="user_list">
	<ul>
		{% for user in users %}
		<li>
		<div class="wrapper">
			<p class="cmds">
				<a href="{{user.login_url}}"><img src="/images/connect.png" alt="User login URL"></a>
				<a href="javascript:addFriend({{user.id}},'{{user.access_token}}');"><img src="/images/user_add.png" alt="Add new friend"></a>
				<a href="javascript:deleteUser({{user.id}},'{{user.access_token}}');"><img src="/images/delete.png" alt="Delete User"></a>
				<a href="javascript:showToken('{{user.access_token}}');"><img src="/images/token.png" alt="View Access Token"></a>
			</p>
		<p class="id">{{user.id}}</p>
		<p class="token hidden">{{user.access_token}}</p>
		<div id="user_{{user.id}}_loading" class="holder">
			<img src="/images/loading-small.gif" alt="">
		</div>
		<div id="user_{{user.id}}">
			
		</div>

		</li>
		{% endfor %}
	</ul>
</div>

<div id="add_friend" class="hidden modal form_div">
	<form action="/addfriend" method="post" accept-charset="utf-8">
		<fieldset id="create_relationship_with_other_user" class="">
			<legend>Create relationship with other user</legend>
			<input type="hidden" name="origin_user" value="" id="origin_user">
			<input type="hidden" name="origin_user_token" value="" id="origin_user_token">
			<ul>
				<li>
					<select name="target_user" id="target_user" onchange="" size="1">
						{% for user in users %}
						<option value="{{user.id}} {{user.access_token}}">{{user.name}}</option>
						{% endfor %}>					
					</select>
				</li>
				<li>
					<input type="submit" value="Add friend &rarr;">
					<input type="button" class="close" name="Cancel" value="Cancel" id="Cancel">
				</li>
			</ul>
			
		</fieldset>
	</form>
</div>

<div id="delete_user" class="hidden floater">
	<form id="delete_user_form" action="/delete" method="post" accept-charset="utf-8">
		<input type="hidden" name="del_user" value="" id="del_user">
		<input type="hidden" name="del_user_token" value="" id="del_user_token">
		<input type="submit" value="Delete &rarr;">
	</form>
</div>

<div id="view_token" class="hidden modal token_div">
	<h2>Access Token</h2>
	<p id="view_token_p"></p>
	<p><input type="button" class="close" name="Close" value="Close" id="Close"></p>
</div>

<script id="userInfoTpl" type="text/x-jquery-tmpl"> 
	<p class='name'>${name}</p>
	<div class="perms">
		<p>Permissions: ${perms}</p></div>
</script>

<script type="text/javascript" charset="utf-8">
	$(document).ready(function(){
		{% for user in users %}
		loadUserInfo({{user.id}},'{{user.access_token}}');
		{% endfor %}
		
		initListOverlays();
	})
</script>
{% endblock %}

