{% extends "layout.html" %}

{% block content %}

<div class="listNewuser hidden">
{% include newuser %}
</div>
<h1 id="user_list">Existing Test Users</h1>
<div class="user_list">
	<ul>
		{% for user in users %}
        
            {% if loop.index0 is odd %}
	       	<li>
    		{% else %}
            <li class="even">
            {% endif %}
		    
    		<div class="wrapper">
    			<div class="cmds"><!--
    				--><a href="{{user.login_url}}"><div class="cmndBorder log"><img src="images/connect.png" alt="Log in as user" title="Click here to login with this user on facebook." ></div></a><!-- 
    				--><a href="javascript:addFriend({{user.id}},'{{user.access_token}}');"><div class="cmndBorder add"><img src="images/user_add.png" alt="Add new friend"  title="Click here to add a new friend to this user and see existing friends."></div></a><!-- 
    				--><a href="javascript:deleteUser({{user.id}},'{{user.access_token}}');"><div class="cmndBorder del"><img src="images/delete.png" alt="Delete user"  title="Click here to remove this user."></div></a><!-- 
    				--><a href="javascript:showToken('{{user.access_token}}');"><div class="cmndBorder tok"><img src="images/token.png" alt="View access token" title="Click here to view this user's access token."></div></a><!-- 
                    --><a href="javascript:changeName('{{user.id}}');"><div class="cmndBorder chn"><img src="images/rename.png" alt="Change name" title="Click here to change user's name."></div></a>
    			</div>
    		<div id="user_{{user.id}}">
    			<p class="id">{{user.id}}</p>
    		</div>
    		<p class="token hidden">{{user.access_token}}</p>
    		<div id="user_{{user.id}}_loading" class="holder">
    			<img src="images/loading-small.gif" alt="">
    		</div>

            </li>
		{% endfor %}
	</ul>
</div>

<div id="add_friend" class="hidden modal form_div">
	<form action="addfriend" method="post" accept-charset="utf-8">
		<fieldset id="create_relationship_with_other_user" class="">
			<legend>Create relationship with other user</legend>
			<input type="hidden" name="origin_user" value="" id="origin_user">
			<input type="hidden" name="origin_user_token" value="" id="origin_user_token">
			<ul>
				<li>
					<select name="target_user" id="target_user" onchange="" size="1">
						{% for user in users %}
						<option value="{{user.id}} {{user.access_token}}">{{user.name}}</option>
						{% endfor %}>					
					</select>
				</li>
				<li>
					<input type="button" class="submit" id="submit-addfriend" value="Add friend &rarr;">
					<input type="button" class="close" name="Cancel" value="Cancel" id="Cancel">
				</li>
			</ul>
		</fieldset>
		<fieldset id="existing_friends" class="">
			<legend>Existing Friends</legend>
			
			<ul id="friend-list"> 
				<li class="loading"><img src="images/loading-small.gif" alt=""></li>
			</ul>
			
		</fieldset>
	</form>
</div>

<div id="delete_user" class="hidden floater">
	<form id="delete_user_form" action="delete" method="post" accept-charset="utf-8">
		<input type="hidden" name="del_user" value="" id="del_user">
		<input type="hidden" name="del_user_token" value="" id="del_user_token">
		<input type="submit" value="Delete &rarr;">
	</form>
</div>

<div id="view_token" class="hidden modal token_div">
	<h2>Access Token</h2>
	<p id="view_token_p"></p>

	<p><input type="image" src="images/overlay/apple-close.png" width="28" height="28" class="close btn_close" name="Close" id="Close"></p>
</div>

<script id="userInfoTpl" type="text/x-jquery-tmpl"> 
	<p class='name'>${name}</p>
	<div class="perms">
		<p>Permissions: ${perms}</p>
	</div>
</script>

<script type="text/javascript" charset="utf-8">
	$(document).ready(function(){
        var users = [
        {% for user in users %}
		  {id:"{{user.id}}",access_token:"{{user.access_token}}"},
		{% endfor %}
		  false
        ];
        users.pop(); //remove ending false 
        
        loadUsersInfo(users);
        
        overrideAddNewUser();
		initListOverlays();
		initTooltips();
		$('#submit-addfriend').click(function (){ submitAddFriend(); });
	})
</script>
{% endblock %}

