<form action="/create" method="post" accept-charset="utf-8">
	<label for="permissions">Permissions</label><input type="text" name="permissions" value="" id="permissions">
	<label for="installed">Should the application already be installed?</label>
	<input type="radio" name="installed"  value="1" checked="checked"> Yes
	<input type="radio" name="installed" value="0"> No

	<p><input type="submit" value="Continue &rarr;"></p>
</form>